{% extends "blog/layout.html" %}
{% load static %}
{% block title %}
	Write A Blog
{% endblock %}
{% block content %}
	<div class="register_form">
		<h2>Write Your Own Blog</h2>
		<p>Make sure you fill all the fields with required information. Flaunt your creativity, cheers!!</p>
		<form action="{% url 'write' %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<table>
				<tr>
					<td class="input_label">
						<label for="title">Title:</label>
					</td>
					<td class="input_box">
						<input type="text" name="title" id="title">
					</td>
				</tr>
				<tr>
					<td class="input_label">
						<label for="content">Content:</label>
					</td>
					<td class="input_box">
						<textarea name="content" id="content" class="bio"></textarea>
					</td>
				</tr>
				<tr>
					<td class="input_label">
						<label for="snippet">Snippet:</label>
					</td>
					<td class="input_box">
						<textarea name="snippet" id="snippet" class="bio"></textarea>
					</td>
				</tr>
				<tr>
					<td class="input_label">
						<label for="category">Category:</label>
					</td>
					<td class="input_box">
						<select name="category" id="category">
							{% for category in categories %}
								<option value="{{ category.id }}">{{ category.name }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td class="input_label">
						<label for="cover_image">Cover Image:</label>
					</td>
					<td class="input_box">
						<input type="file" name="cover_image" id="cover_image">
					</td>
				</tr>
				<tr>
					<td class="input_label">
						<label for="tags">Tags:</label>
					</td>
					<td class="input_box">
						<input type="text" name="tags" id="tags">
					</td>
				</tr>
			</table>
			<input type="submit" name="signup" value="Publish" class="submit_btn">
		</form>
	</div>
{% endblock %}