{% extends "blog/layout.html" %}
{% load static %}
{% block title %}
	Sign In
{% endblock %}
{% block content %}
	
	<div class="register_form">
		<h2>LOG IN!!</h2>
		<form action="{% url 'login' %}" method="post">
			{% csrf_token %}
			<table>
				<tr>
					<td class="input_label">
						<label for="username">Username:</label>
					</td>
					<td class="input_box">
						<input type="text" name="username" id="username">
					</td>
				</tr>
				<tr>
					<td class="input_label">
						<label for="password">Password:</label>
					</td>
					<td class="input_box">
						<input type="password" name="password" id="password">
					</td>
				</tr>
			</table>
			<input type="submit" name="signin" value="Log In" class="submit_btn">
		</form>
		<p class="reminder">Don't have an account yet?<a href="{% url 'register' %}">Register here.</a></p>
	</div>
{% endblock %}